.edit-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.pencil-icon {
  width: 50px;
  height: 50px;
}

.edit-button:hover  {
  opacity: 50%;
}

@media screen and (max-width: 768px) {
  .pencil-icon {
    width: 40px;
    height: 40px;
  }
}

@media screen and (max-width: 320px) {

  .pencil-icon {
    width: 20px;
    height: 20px;
  }
}