.edit-button {
    background: none;
    border: none;
    cursor: pointer;

}

.pencil-icon {
    width: 30px;
    height: 30px;
    fill: white;

}


.edit-button:hover .pencil-icon {
  opacity: 50%;
}

@media screen and (max-width: 320px) {
  .pencil-icon {
    width: 5px;
    height: 5px;
  }
}