.edit-button {
  background-color: transparent;
  border: 1px solid white;
  cursor: pointer;
  width: 50px;
  height: 50px;
}

.pencil-icon {
  width: 30px;
  height: 30px;
}


/*
.edit-button {
    background: none;
    border: none;
    cursor: pointer;

}

.pencil-icon {
    width: 30px;
    height: 30px;
    fill: white;

}


.edit-button:hover .pencil-icon {
  opacity: 50%;
}

@media screen and (max-width: 320px) {
  .pencil-icon {
    width: 5px;
    height: 5px;
  }
}


/* <?xml version="1.0" encoding="utf-8"?><!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
                <svg
                  id="editButton"
                  class="pencil-icon"
                  viewBox="0 0 16 16"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path d="M13 0L16 3L9 10H6V7L13 0Z" fill="FFFF" />
                  <path d="M1 1V15H15V9H13V13H3V3H7V1H1Z" fill="FFFF" />
                </svg>