.like-button {
    background: none;
    border: none;
    cursor: pointer;
}


.like-button .heart-icon {
    width: 21px;
    height: 19px;
    stroke: rgba(0, 0, 0, 1);
    fill: none;
    transition: all 0.3s ease;
}

.like-button:hover .heart-icon {
    fill: rgba(0, 0, 0, 1);
}

.like-button.liked .heart-icon {
    fill: rgba(0, 0, 0, 1);
    stroke: rgba(0, 0, 0, 1);
}